@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";
@import "fumadocs-twoslash/twoslash.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fdfdfd;
  --foreground: #000000;
  --card: #fdfdfd;
  --card-foreground: #000000;
  --popover: #fcfcfc;
  --popover-foreground: #000000;
  --primary: #4249ff;
  --primary-foreground: #ffffff;
  --secondary: #fcfdfd;
  --secondary-foreground: #080808;
  --muted: #f5f5f5;
  --muted-foreground: #525252;
  --accent: #fafdff;
  --accent-foreground: #12b7f4;
  --destructive: #f54a88;
  --destructive-foreground: #ffffff;
  --border: #cccccc;
  --input: #ebebeb;
  --ring: #000000;
  --chart-1: #49d75c;
  --chart-2: #4249ff;
  --chart-3: #ff4838;
  --chart-4: #2ebdf6;
  --chart-5: #747474;
  --sidebar: #ffffff;
  --sidebar-foreground: #000000;
  --sidebar-primary: #000000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ebebeb;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #cccccc;
  --sidebar-ring: #000000;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.16;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1b1e20;
  --foreground: #f0f0f0;
  --card: #232729;
  --card-foreground: #f0f0f0;
  --popover: #232729;
  --popover-foreground: #f0f0f0;
  --primary: #6d73ff;
  --primary-foreground: #ffffff;
  --secondary: #2b3136;
  --secondary-foreground: #f0f0f0;
  --muted: #2b3136;
  --muted-foreground: #a0a0a0;
  --accent: #1c3641;
  --accent-foreground: #8cefff;
  --destructive: #ff7ca8;
  --destructive-foreground: #ffffff;
  --border: #353a3e;
  --input: #353a3e;
  --ring: #6d73ff;
  --chart-1: #49ee4e;
  --chart-2: #6d73ff;
  --chart-3: #ffb7cf;
  --chart-4: #5fd0ff;
  --chart-5: #a0a0a0;
  --sidebar: #18191b;
  --sidebar-foreground: #f0f0f0;
  --sidebar-primary: #6d73ff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2b3136;
  --sidebar-accent-foreground: #6d73ff;
  --sidebar-border: #353a3e;
  --sidebar-ring: #6d73ff;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.16;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.08);
  --shadow-sm:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 1px 2px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-md:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 2px 4px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-lg:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 4px 6px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-xl:
    0px 2px 3px 0px hsl(0 0% 10.1961% / 0.16),
    0px 8px 10px -1px hsl(0 0% 10.1961% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 10.1961% / 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --fd-nav-height: calc(var(--spacing) * 15);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  --sb-track-color: var(--sidebar);
  --sb-thumb-color: var(--color-primary);
  --sb-size: 7px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 1px;
}

::selection {
  background-color: var(--primary); /* bleu foncé */
  color: var(--foreground); /* texte en blanc */
}

::view-transition-old(root),
::view-transition-new(root) {
  position: fixed;
  inset: 0;
  pointer-events: none;
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 0;
}

::view-transition-new(root) {
  z-index: 2147483646;
  background: var(--background); /* <- attention : match bien ta couleur */
  clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  animation: reveal 0.45s ease-in-out forwards;
}

@keyframes reveal {
  from {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
    opacity: 0.7;
  }
  to {
    clip-path: circle(200% at var(--x, 50%) var(--y, 50%));
    opacity: 1;
  }
}
